<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="delta_robot">

    <xacro:property name="mesh_path" value="package://delta_robot_description/meshes"/>
    <xacro:property name="scale_norm" value="0.001 0.001 0.001"/>
    
    <xacro:property name="joint_damping" value="0.1"/>
    <xacro:property name="joint_friction" value="0.05"/>

    <xacro:macro name="default_inertial" params="mass ixx iyy izz ixy:=0 ixz:=0 iyz:=0 pos:='0 0 0' rpy:='0 0 0'">
        <inertial>
            <origin xyz="${pos}" rpy="${rpy}"/>
            <mass value="${mass}"/>
            <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="delta_leg" params="index joint_pose axis_xyz forearm_pose arm_a_pose arm_b_pose arm_a_name arm_b_name">
        
        <link name="forearm${index}">
            <visual>
                <geometry>
                    <mesh filename="${mesh_path}/forearm${index}.stl" scale="${scale_norm}"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.1 0.4 0.8 1"/>
                </material>
            </visual>
            <xacro:default_inertial 
                mass="0.51875" 
                ixx="0.000206" ixy="0.0" ixz="0.0" iyy="0.000174" iyz="0.0" izz="0.000327"
                pos="0 0 0"/> 
        </link>

        <joint name="jbf${index}" type="revolute">
            <parent link="base_hex"/>
            <child link="forearm${index}"/>
            <origin xyz="${joint_pose}" rpy="0 0 0"/>
            <axis xyz="${axis_xyz}"/>
            <limit lower="-2.0" upper="2.0" effort="2.0" velocity="5.0"/>
            <dynamics damping="${joint_damping}" friction="${joint_friction}"/>
        </joint>

        <link name="${arm_a_name}">
            <visual>
                <geometry>
                    <mesh filename="${mesh_path}/${arm_a_name}.stl" scale="${scale_norm}"/>
                </geometry>
                <material name="grey">
                    <color rgba="0.5 0.5 0.5 1"/>
                </material>
            </visual>
            <xacro:default_inertial 
                mass="0.085" ixx="0.00077" iyy="0.0007" izz="0.00015"
                pos="0 0 0"/>
        </link>

        <joint name="ball_forearm_${arm_a_name}" type="fixed">
            <parent link="forearm${index}"/>
            <child link="${arm_a_name}"/>
            <origin xyz="${arm_a_pose}" rpy="0 0 0"/> 
        </joint>
        
        <gazebo reference="ball_forearm_${arm_a_name}">
            <disableFixedJointLumping>true</disableFixedJointLumping>
        </gazebo>

        <link name="${arm_b_name}">
            <visual>
                <geometry>
                    <mesh filename="${mesh_path}/${arm_b_name}.stl" scale="${scale_norm}"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <xacro:default_inertial 
                mass="0.085" ixx="0.00077" iyy="0.0007" izz="0.00015"
                pos="0 0 0"/>
        </link>

        <joint name="ball_forearm_${arm_b_name}" type="fixed">
            <parent link="forearm${index}"/>
            <child link="${arm_b_name}"/>
            <origin xyz="${arm_b_pose}" rpy="0 0 0"/>
        </joint>

        <gazebo reference="ball_forearm_${arm_b_name}">
            <disableFixedJointLumping>true</disableFixedJointLumping>
        </gazebo>

    </xacro:macro>


    <link name="world"/>

    <joint name="fixed_base" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="${mesh_path}/base_link.stl" scale="${scale_norm}"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                 <mesh filename="${mesh_path}/base_link.stl" scale="${scale_norm}"/>
            </geometry>
        </collision>
        <xacro:default_inertial mass="74.08" ixx="4.02" iyy="4.09" izz="4.61"/>
    </link>

    <joint name="base_to_hex" type="fixed">
        <parent link="base_link"/>
        <child link="base_hex"/>
        <origin xyz="0 0 0.059" rpy="0 0 0"/> </joint>

    <link name="base_hex">
        <visual>
            <geometry>
                <mesh filename="${mesh_path}/base.stl" scale="${scale_norm}"/>
            </geometry>
            <material name="silver">
                <color rgba="0.7 0.7 0.7 1"/>
            </material>
        </visual>
        <xacro:default_inertial mass="1.90" ixx="0.0026" iyy="0.0026" izz="0.0050"/>
    </link>

    <xacro:delta_leg 
        index="1" 
        joint_pose="-0.0419 0.0257 0" 
        axis_xyz="0 1 0"
        forearm_pose="0.117 0.0 0"
        arm_a_pose="0.057 0.0 0.118" arm_a_name="arm1"
        arm_b_pose="0.057 0.0 0.118" arm_b_name="arm2"
    />

    <xacro:delta_leg 
        index="2" 
        joint_pose="-0.0013 -0.0491 0" 
        axis_xyz="-0.866 -0.5 0"
        forearm_pose="-0.059 0.101 0"
        arm_a_pose="-0.029 0.049 0.118" arm_a_name="arm3"
        arm_b_pose="-0.029 0.049 0.118" arm_b_name="arm4"
    />

    <xacro:delta_leg 
        index="3" 
        joint_pose="0.0432 0.0233 0" 
        axis_xyz="0.866 -0.5 0"
        forearm_pose="-0.058 -0.102 0"
        arm_a_pose="-0.028 -0.050 0.118" arm_a_name="arm5"
        arm_b_pose="-0.028 -0.050 0.118" arm_b_name="arm6"
    />

    <link name="EEBase">
        <visual>
            <geometry>
                <mesh filename="${mesh_path}/EEBase.stl" scale="${scale_norm}"/>
            </geometry>
            <material name="orange">
                <color rgba="0.9 0.4 0.2 1"/>
            </material>
        </visual>
        <xacro:default_inertial mass="0.305" ixx="0.00011" iyy="0.00011" izz="0.00022"/>
    </link>

    <joint name="ball7_tree_closure" type="fixed">
        <parent link="arm5"/>
        <child link="EEBase"/>
        <origin xyz="-0.039 -0.017 -0.118" rpy="0 0 0"/> 
    </joint>

    <link name="T">
        <visual>
             <geometry><mesh filename="${mesh_path}/T.stl" scale="${scale_norm}"/></geometry>
        </visual>
        <xacro:default_inertial mass="0.014" ixx="9e-7" iyy="2e-6" izz="1e-6"/>
    </link>

    <joint name="Tj1" type="revolute">
        <parent link="EEBase"/>
        <child link="T"/>
        <origin xyz="0 0 -0.260" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-3.14" upper="3.14" effort="50" velocity="10"/>
    </joint>

    <link name="EE">
        <visual>
             <geometry><mesh filename="${mesh_path}/EE.stl" scale="${scale_norm}"/></geometry>
        </visual>
        <xacro:default_inertial mass="0.061" ixx="5e-6" iyy="5e-6" izz="9e-6"/>
    </link>

    <joint name="BeveljEE" type="revolute">
        <parent link="T"/>
        <child link="EE"/>
        <origin xyz="0 0 -0.01" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="-3.14" upper="3.14" effort="50" velocity="10"/>
    </joint>

    <xacro:macro name="dummy_link" params="name pos">
        <link name="${name}">
            <inertial>
                <mass value="0.0001"/>
                <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
                <origin xyz="0 0 0"/>
            </inertial>
        </link>
        <joint name="EEBase_to_${name}" type="fixed">
            <parent link="EEBase"/>
            <child link="${name}"/>
            <origin xyz="${pos}" rpy="0 0 0"/>
        </joint>
    </xacro:macro>

    <xacro:dummy_link name="dummy_arm1" pos="0.035 -0.025 0"/>
    <xacro:dummy_link name="dummy_arm2" pos="0.035 0.025 0"/>
    <xacro:dummy_link name="dummy_arm3" pos="0.004 0.043 0"/>
    <xacro:dummy_link name="dummy_arm4" pos="-0.039 0.017 0"/>
    <xacro:dummy_link name="dummy_arm6" pos="0.004 -0.043 0"/>

    <gazebo>
        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>dummy_arm1</parent_link>
            <child_model>delta_robot</child_model>
            <child_link>arm1</child_link>
            <detach_topic>/delta/detach_arm1</detach_topic>
            <attach_topic>/delta/attach_arm1</attach_topic>
        </plugin>
        
        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>dummy_arm2</parent_link>
            <child_model>delta_robot</child_model>
            <child_link>arm2</child_link>
        </plugin>
        
        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>dummy_arm3</parent_link>
            <child_model>delta_robot</child_model>
            <child_link>arm3</child_link>
        </plugin>

        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>dummy_arm4</parent_link>
            <child_model>delta_robot</child_model>
            <child_link>arm4</child_link>
        </plugin>

        <plugin filename="libgz-sim-detachable-joint-system.so" name="gz::sim::systems::DetachableJoint">
            <parent_link>dummy_arm6</parent_link>
            <child_model>delta_robot</child_model>
            <child_link>arm6</child_link>
        </plugin>

        <plugin filename="gz-sim-joint-trajectory-controller-system" name="gz::sim::systems::JointTrajectoryController">
            <joint_name>jbf1</joint_name>
            <position_p_gain>50</position_p_gain>
            <position_i_gain>5.0</position_i_gain>
            <position_d_gain>2.0</position_d_gain>
            
            <joint_name>jbf2</joint_name>
            <position_p_gain>50</position_p_gain>
            <position_i_gain>5.0</position_i_gain>
            <position_d_gain>2.0</position_d_gain>

            <joint_name>jbf3</joint_name>
            <position_p_gain>50</position_p_gain>
            <position_i_gain>5.0</position_i_gain>
            <position_d_gain>2.0</position_d_gain>
            
            <joint_name>Tj1</joint_name>
            <position_p_gain>50</position_p_gain>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"/>
        
        <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>false</static_publisher>
            <static_update_frequency>100</static_update_frequency>
        </plugin>
    </gazebo>

</robot>